<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado-Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="contenedor-principal">
                <div class="logo"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></div>
                <div class="search">
                    <form action="#" method="POST">
                        <input type="search" class="search" placeholder="Buscar productos, marcas">
                        <button type="submit" class="fa fa-search lupa"></button>
                    </form>
                </div>
            </div>
            <div class="compra-en-cuotas">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="contenedor-nav">
                <nav>
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Ayuda</a>
                    <a href="#">Vender</a>
                </nav>
                <nav>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </nav>
            </div>
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
        </header>
    <main>
        <section class="registerForm">
            <h2>Creá tu usuario</h1>
            <form action="home.html" method="">
                <div class="row">
                   <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required>
                </div>

                <div class="row">
                    <input type="text" name="userName" id="userName" placeholder="Nombre de usuario" required>
                </div>

                <div class="row">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>

                <div class="row">
                    <label for="birthDate">Fecha de nacimiento:</label>
                    <input type="date" name="birthDate" id="birthDate" required>
                </div>

                <div class="row">
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                </div>

                <div class="row">
                    <p>Perfil de usuario:</p>
                    <label><input type="radio" name="profile" id="buyer" value="buyer"> Comprador</label>
                    <label><input type="radio" name="profile" id="seller" value="seller"> Vendedor</label>
                    
                </div>

                <div class="row">
                    <p>Intereses:</p>
                    <div class="intereses">
                        <label><input type="checkbox" name="interes" id="electro" value="electro"> Electro</label>
                        <label><input type="checkbox" name="interes" id="moda" value="moda"> Moda</label>
                        <label><input type="checkbox" name="interes" id="hogar" value="hogar"> Hogar</label>
                        <label><input type="checkbox" name="interes" id="jugueteria" value="jugueteria"> Juguetería</label>
                        <label><input type="checkbox" name="interes" id="vida-sana" value="vida-sana"> Vida Sana</label>
                    </div>
                </div>

                <div class="row">
                    <label for="photo">Foto de usuario:</label>
                    <input type="file" name="photo" id="photo">
                </div>

                <div class="row">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" required>
                </div>

                <div class="row">
                    <label for="password-confirm">Confirmar contraseña:</label>
                    <input type="password" name="password-confirm" id="password-confirm" placeholder="Repetí tu contraseña" required>
                </div>

                <button type="submit" class="send">Enviar</button>
                <button type="reset" class="reset">Borrar</button>
            </form>
        </section>
    </main>
        <footer>
            <article>
                <div>
                    <i class="fas fa-credit-card imgs-footer icono"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                        </p>
                </div>
            </article>
            <article>
                <div>
                    <i class="fas fa-gift imgs-footer icono"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                        </p>
                </div>
            </article>
            <article>
                <div>
                    <i class="fas fa-user-shield imgs-footer icono"></i> 
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </article>
            <article>
                <span>
                <p class="rights">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </span>
            </article>
        </footer>         
</body>
</html>