* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

:root {
    /* Paleta de colores */
    --default-amarillo: #EAC926;
    --default-azul: #03264C;
    --default-celeste: #1259c3;
    --default-gris-oscuro: #666;
    --default-gris-claro: #ebebeb;
    --default-verde: #39b54a;
    
    /* Tipografías */
    --default-family: 'Roboto';
    /* Tamaños Tipográficos */
    --default-font-size: 12px;
    --default-titulares: 24px;  /* (Basado en tu última visita/Ofertas) */
    --default-price: 18px;
    --default-discount: 16px;
    --default-description: 16px;
}

body {
    background-color: var(--default-gris-claro);
    font-family: var(--default-family);
}

img{
    width:100%;
}
/* //////////header////////// */
header{
    background-color: var(--default-amarillo);
    text-align: center;
    padding: 30px;
}
.logo{
    width: 49.9%;
    display: inline-block;
}
.search{
    width:49%;
    display: inline-block;
}
.compra-en-cuotas{
    margin: 30px auto;
}
.hamburguer-button {
    background-color: var(--default-celeste);
    padding: 10px;
    color:white;
    border-radius: 0.5em;
}
.container header nav{
    display:none;
}
.container header nav a{
padding: 2px;
margin: 2px;
}
.contenedor-nav{
    display:flex;
    justify-content: space-between;
}
/* //////////Main////////// */
.titulares {
    font-size: var(--default-titulares);
}
.precio{
    font-size: var(--default-price);
    display: inline;
    width: 30%;
}
.descuento{
    font-size: var(--default-discount);
    color: var(--default-verde);
    display: inline;
    width: 70%;
}
.descripcion{
    font-size: var(--default-description);
    color: var(--default-gris-oscuro);
    font-weight: bold;
    display: none;
}
main section div article:hover .descripcion {
    display:block;
}
.icono {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--default-celeste)
}

main{
    margin: 0 auto;
    width:90%;
}

main div {
    position: relative;
    border-top: 1px solid var(--default-gris-claro);
}

main section div article {
    text-align: left;
    padding:15px;
    margin:10px;
    background-color: #fff;
}
main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--default-verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--default-verde);
}
main section article div p{
    margin: 10px auto;
    justify-content: center;
}
.container-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* //////////Footer////////// */
footer{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
footer > article {
    text-align: center;
}
footer  i:hover {
    color: #1632a3;
}

/* //////////Responsive////////// */
@media (min-width: 361px){

}
@media (min-width: 769px){
    main section div article:hover .descripcion {
        display:block;
    }
    .container-flexbox article {
        max-width: 40%;
    }
    .container-flexbox article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .container header nav{
        display:inline-block;
    }
    .hamburguer-button{
        display: none;
    }
    .contenedor-principal{
        width: 50%;
        display: inline-block;
    }
    .compra-en-cuotas{
        width: 49%;
        display: inline-block;
    }
}
@media (min-width: 1024px){
    .container-flexbox article {
        max-width: 20%;
    }
}


/* //////////Formularios////////// */

.registerForm{
    max-width: 80%;
    margin: 20px auto;
    background-color: white;
    border-radius: 0.5em;
}

.registerForm form {
    font-size: var(--default-description);
}
.row{
    margin: 15px auto;
    align-content: center;
    border-top: none;
}
input{
    border: 2px solid var(--default-gris-claro);
    height: 2em;
    margin: auto 10px;
    display: inline-block;
}
label{
    height: 2em;
    display: flex;
    align-items: center;
}
.intereses{
    border:none;
}

.registerForm form button{
    height: 3rem;
    width: 49%;
    background-color:var(--default-celeste);
    color:white;
    font-size: 1em;
    font-family: var(--default-family);
    border-radius: 0.5rem;
    display: inline-block;
}
.loginForm{
    max-width: 80%;
    margin: 20px auto;
    background-color: white;
    border-radius: 0.5em;
    padding: 20px;
}
.loginForm .row {
    text-align: center;
}
.loginForm .row input {
    width: 100%;
    margin: 10px 0;
    height: 2.5rem;
    padding-left: 0.5rem;
}
.loginForm button{
    height: 3rem;
    width: 100%;
    background-color:var(--default-celeste);
    color:white;
    font-size: 1em;
    font-family: var(--default-family);
    border-radius: 0.5rem;
}
form input:hover {
    border-color:tomato;
}
form button:hover.send,
form button:hover.reset {
    background-color: #0022AA;
}